/apiLogins/appsettings.json
/apiLogins/appsettings.Development.json
/.vs/apiLogins/v16/Server/sqlite3/db.lock
/.vs/apiLogins/v16/Server/sqlite3/storage.ide
/.vs/apiLogins/v16/Server/sqlite3/storage.ide-shm
/.vs/apiLogins/v16/Server/sqlite3/storage.ide-wal
